/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/
/* body {
 
} */
ul {
     list-style-type: none;
   }

li{
     display: inline;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.page-container{
     display: flex;
     flex-direction: row;
}

/* left side container */
.left-column{
     padding: 5px;
     order: 1;
} 

/* input fields container */
.form-group{
     padding: 5px;
}

/* right side container */
.table-responsive{
     padding: 5px;
     flex-grow: 1;
     overflow-y: auto;
     order: 2;
     height: 760px;
}

thead{
     overflow-y: auto;
     position: sticky;
     top: 0;
     background: salmon;
}