/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

/* .container {
  display: flex;
  gap: 5px;
  height: 800px;
  /* background: yellow; 
} */

.container-fluid{
  display: flex;
  height: 900px;
  gap: 5px;
}

.inputForm{
  order: 1;
  background: blue;
}

li {
  list-style-type: none;
  padding: 10px;
}

.table-responsive{
  order: 2;
  flex-grow: 1;
  background: green;
}

table{
  overflow-y: hidden;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

thead{
  position: sticky;
  top: 0;
  background: salmon;
}