/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/
/* body {
 
} */
ul {
     list-style-type: none;
   }

li{
     display: inline;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.page-container{
     display: flex;
     flex-direction: row;
}

/* left side container */
.left-column{
     order: 1;
     height: 425px;
} 

/* input fields container */
.form-group{
     padding: 5px;

}

.balance{
     background-color: green;
}








/* right side container */
.right-column{
     border: 1px solid blue;
     display: flex;
     flex-grow: 1;
     order: 2;


}

.transaction-headers{


     border: 1px solid red;
}

.transaction-headers .payee{

     border: 1px solid pink;
}

.transaction-headers .date{

     border: 1px solid green;
}

.transaction-headers .trans-type{
     border: 1px solid green;
}

.transaction-headers .notes{
     border: 1px solid green;
}

.transaction-headers .cateogry{
     border: 1px solid green;
}